    @/bond:OPLSAA/1-2 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b2_a*_d*_i*
    @/bond:OPLSAA/1-3 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b3_a*_d*_i*
    @/bond:OPLSAA/1-13 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/1-19 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/1-25 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/1-47 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/1-48 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/1-82 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/1-83 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/1-84 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/1-87 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/1-88 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/1-108 @/atom:OPLSAA/*_b1_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/2-2 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b2_a*_d*_i*
    @/bond:OPLSAA/2-3 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b3_a*_d*_i*
    @/bond:OPLSAA/2-5 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b5_a*_d*_i*
    @/bond:OPLSAA/2-6 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b6_a*_d*_i*
    @/bond:OPLSAA/2-10 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b10_a*_d*_i*
    @/bond:OPLSAA/2-11 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b11_a*_d*_i*
    @/bond:OPLSAA/2-12 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b12_a*_d*_i*
    @/bond:OPLSAA/2-13 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/2-14 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/2-15 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b15_a*_d*_i*
    @/bond:OPLSAA/2-16 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b16_a*_d*_i*
    @/bond:OPLSAA/2-20 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/2-24 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/2-44 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/2-48 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/2-51 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/2-53 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/2-55 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/2-80 @/atom:OPLSAA/*_b2_a*_d*_i* @/atom:OPLSAA/*_b80_a*_d*_i*
    @/bond:OPLSAA/3-3 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b3_a*_d*_i*
    @/bond:OPLSAA/3-4 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b4_a*_d*_i*
    @/bond:OPLSAA/3-5 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b5_a*_d*_i*
    @/bond:OPLSAA/3-6 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b6_a*_d*_i*
    @/bond:OPLSAA/3-10 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b10_a*_d*_i*
    @/bond:OPLSAA/3-12 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b12_a*_d*_i*
    @/bond:OPLSAA/3-13 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/3-19 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/3-20 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/3-21 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b21_a*_d*_i*
    @/bond:OPLSAA/3-24 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/3-44 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/3-46 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b46_a*_d*_i*
    @/bond:OPLSAA/3-47 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/3-48 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/3-50 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/3-52 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b52_a*_d*_i*
    @/bond:OPLSAA/3-56 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/3-57 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b57_a*_d*_i*
    @/bond:OPLSAA/3-60 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/3-65 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/3-84 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/3-86 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/3-105 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/3-107 @/atom:OPLSAA/*_b3_a*_d*_i* @/atom:OPLSAA/*_b107_a*_d*_i*
    @/bond:OPLSAA/4-25 @/atom:OPLSAA/*_b4_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/4-64 @/atom:OPLSAA/*_b4_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/4-89 @/atom:OPLSAA/*_b4_a*_d*_i* @/atom:OPLSAA/*_b89_a*_d*_i*
    @/bond:OPLSAA/4-110 @/atom:OPLSAA/*_b4_a*_d*_i* @/atom:OPLSAA/*_b110_a*_d*_i*
    @/bond:OPLSAA/5-6 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b6_a*_d*_i*
    @/bond:OPLSAA/5-7 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b7_a*_d*_i*
    @/bond:OPLSAA/5-10 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b10_a*_d*_i*
    @/bond:OPLSAA/5-13 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/5-20 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/5-24 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/5-25 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/5-44 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/5-47 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/5-48 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/5-51 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/5-64 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/5-79 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/5-106 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b106_a*_d*_i*
    @/bond:OPLSAA/5-108 @/atom:OPLSAA/*_b5_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/6-6 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b6_a*_d*_i*
    @/bond:OPLSAA/6-10 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b10_a*_d*_i*
    @/bond:OPLSAA/6-11 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b11_a*_d*_i*
    @/bond:OPLSAA/6-13 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/6-14 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/6-15 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b15_a*_d*_i*
    @/bond:OPLSAA/6-16 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b16_a*_d*_i*
    @/bond:OPLSAA/6-20 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/6-24 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/6-44 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/6-47 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/6-51 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/6-53 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/6-55 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/6-79 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/6-105 @/atom:OPLSAA/*_b6_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/7-20 @/atom:OPLSAA/*_b7_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/7-25 @/atom:OPLSAA/*_b7_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/9-9 @/atom:OPLSAA/*_b9_a*_d*_i* @/atom:OPLSAA/*_b9_a*_d*_i*
    @/bond:OPLSAA/9-11 @/atom:OPLSAA/*_b9_a*_d*_i* @/atom:OPLSAA/*_b11_a*_d*_i*
    @/bond:OPLSAA/9-14 @/atom:OPLSAA/*_b9_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/10-10 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b10_a*_d*_i*
    @/bond:OPLSAA/10-11 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b11_a*_d*_i*
    @/bond:OPLSAA/10-14 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/10-20 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/10-24 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/10-44 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/10-105 @/atom:OPLSAA/*_b10_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/11-11 @/atom:OPLSAA/*_b11_a*_d*_i* @/atom:OPLSAA/*_b11_a*_d*_i*
    @/bond:OPLSAA/11-13 @/atom:OPLSAA/*_b11_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/11-14 @/atom:OPLSAA/*_b11_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/11-79 @/atom:OPLSAA/*_b11_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/12-12 @/atom:OPLSAA/*_b12_a*_d*_i* @/atom:OPLSAA/*_b12_a*_d*_i*
    @/bond:OPLSAA/12-48 @/atom:OPLSAA/*_b12_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/12-60 @/atom:OPLSAA/*_b12_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/12-81 @/atom:OPLSAA/*_b12_a*_d*_i* @/atom:OPLSAA/*_b81_a*_d*_i*
    @/bond:OPLSAA/13-13 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b13_a*_d*_i*
    @/bond:OPLSAA/13-14 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/13-15 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b15_a*_d*_i*
    @/bond:OPLSAA/13-16 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b16_a*_d*_i*
    @/bond:OPLSAA/13-18 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b18_a*_d*_i*
    @/bond:OPLSAA/13-19 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/13-20 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/13-21 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b21_a*_d*_i*
    @/bond:OPLSAA/13-22 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b22_a*_d*_i*
    @/bond:OPLSAA/13-24 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/13-25 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/13-44 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/13-46 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b46_a*_d*_i*
    @/bond:OPLSAA/13-47 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/13-48 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/13-50 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/13-51 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/13-53 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/13-55 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/13-56 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/13-57 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b57_a*_d*_i*
    @/bond:OPLSAA/13-60 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/13-64 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/13-65 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/13-66 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b66_a*_d*_i*
    @/bond:OPLSAA/13-79 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/13-80 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b80_a*_d*_i*
    @/bond:OPLSAA/13-83 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/13-84 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/13-85 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b85_a*_d*_i*
    @/bond:OPLSAA/13-87 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/13-90 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b90_a*_d*_i*
    @/bond:OPLSAA/13-91 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/13-95 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b95_a*_d*_i*
    @/bond:OPLSAA/13-101 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b101_a*_d*_i*
    @/bond:OPLSAA/13-102 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b102_a*_d*_i*
    @/bond:OPLSAA/13-104 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b104_a*_d*_i*
    @/bond:OPLSAA/13-105 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/13-107 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b107_a*_d*_i*
    @/bond:OPLSAA/13-108 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/13-109 @/atom:OPLSAA/*_b13_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
    @/bond:OPLSAA/14-14 @/atom:OPLSAA/*_b14_a*_d*_i* @/atom:OPLSAA/*_b14_a*_d*_i*
    @/bond:OPLSAA/15-17 @/atom:OPLSAA/*_b15_a*_d*_i* @/atom:OPLSAA/*_b17_a*_d*_i*
    @/bond:OPLSAA/15-48 @/atom:OPLSAA/*_b15_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/16-16 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b16_a*_d*_i*
    @/bond:OPLSAA/16-19 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/16-24 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/16-25 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/16-47 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/16-48 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/16-61 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/16-82 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/16-84 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/16-91 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/16-108 @/atom:OPLSAA/*_b16_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/17-25 @/atom:OPLSAA/*_b17_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/18-18 @/atom:OPLSAA/*_b18_a*_d*_i* @/atom:OPLSAA/*_b18_a*_d*_i*
    @/bond:OPLSAA/18-19 @/atom:OPLSAA/*_b18_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/18-48 @/atom:OPLSAA/*_b18_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/18-56 @/atom:OPLSAA/*_b18_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/19-19 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b19_a*_d*_i*
    @/bond:OPLSAA/19-21 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b21_a*_d*_i*
    @/bond:OPLSAA/19-46 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b46_a*_d*_i*
    @/bond:OPLSAA/19-47 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/19-48 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/19-50 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/19-65 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/19-88 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/19-91 @/atom:OPLSAA/*_b19_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/20-20 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b20_a*_d*_i*
    @/bond:OPLSAA/20-21 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b21_a*_d*_i*
    @/bond:OPLSAA/20-24 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b24_a*_d*_i*
    @/bond:OPLSAA/20-25 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/20-44 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/20-47 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/20-48 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/20-51 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/20-60 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/20-61 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/20-64 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/20-82 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/20-84 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/20-108 @/atom:OPLSAA/*_b20_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/21-25 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/21-47 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/21-48 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/21-82 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/21-83 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/21-84 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/21-87 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/21-88 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/21-108 @/atom:OPLSAA/*_b21_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/22-23 @/atom:OPLSAA/*_b22_a*_d*_i* @/atom:OPLSAA/*_b23_a*_d*_i*
    @/bond:OPLSAA/22-25 @/atom:OPLSAA/*_b22_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/23-25 @/atom:OPLSAA/*_b23_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/23-79 @/atom:OPLSAA/*_b23_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/24-25 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/24-45 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b45_a*_d*_i*
    @/bond:OPLSAA/24-48 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/24-59 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b59_a*_d*_i*
    @/bond:OPLSAA/24-79 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/24-84 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/24-88 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/24-91 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/24-103 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b103_a*_d*_i*
    @/bond:OPLSAA/24-106 @/atom:OPLSAA/*_b24_a*_d*_i* @/atom:OPLSAA/*_b106_a*_d*_i*
    @/bond:OPLSAA/25-25 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b25_a*_d*_i*
    @/bond:OPLSAA/25-44 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/25-45 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b45_a*_d*_i*
    @/bond:OPLSAA/25-46 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b46_a*_d*_i*
    @/bond:OPLSAA/25-47 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/25-48 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/25-49 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b49_a*_d*_i*
    @/bond:OPLSAA/25-53 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/25-56 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/25-61 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/25-65 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/25-103 @/atom:OPLSAA/*_b25_a*_d*_i* @/atom:OPLSAA/*_b103_a*_d*_i*
    @/bond:OPLSAA/31-32 @/atom:OPLSAA/*_b31_a*_d*_i* @/atom:OPLSAA/*_b32_a*_d*_i*
    @/bond:OPLSAA/31-33 @/atom:OPLSAA/*_b31_a*_d*_i* @/atom:OPLSAA/*_b33_a*_d*_i*
    @/bond:OPLSAA/31-106 @/atom:OPLSAA/*_b31_a*_d*_i* @/atom:OPLSAA/*_b106_a*_d*_i*
    @/bond:OPLSAA/34-35 @/atom:OPLSAA/*_b34_a*_d*_i* @/atom:OPLSAA/*_b35_a*_d*_i*
    @/bond:OPLSAA/36-37 @/atom:OPLSAA/*_b36_a*_d*_i* @/atom:OPLSAA/*_b37_a*_d*_i*
    @/bond:OPLSAA/36-38 @/atom:OPLSAA/*_b36_a*_d*_i* @/atom:OPLSAA/*_b38_a*_d*_i*
    @/bond:OPLSAA/39-40 @/atom:OPLSAA/*_b39_a*_d*_i* @/atom:OPLSAA/*_b40_a*_d*_i*
    @/bond:OPLSAA/39-41 @/atom:OPLSAA/*_b39_a*_d*_i* @/atom:OPLSAA/*_b41_a*_d*_i*
    @/bond:OPLSAA/42-43 @/atom:OPLSAA/*_b42_a*_d*_i* @/atom:OPLSAA/*_b43_a*_d*_i*
    @/bond:OPLSAA/44-44 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b44_a*_d*_i*
    @/bond:OPLSAA/44-45 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b45_a*_d*_i*
    @/bond:OPLSAA/44-48 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/44-79 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/44-91 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/44-108 @/atom:OPLSAA/*_b44_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/45-53 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/45-55 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/45-56 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/45-57 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b57_a*_d*_i*
    @/bond:OPLSAA/45-101 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b101_a*_d*_i*
    @/bond:OPLSAA/45-105 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/45-108 @/atom:OPLSAA/*_b45_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/46-47 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/46-50 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/46-51 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b51_a*_d*_i*
    @/bond:OPLSAA/46-80 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b80_a*_d*_i*
    @/bond:OPLSAA/46-91 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/46-95 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b95_a*_d*_i*
    @/bond:OPLSAA/46-108 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/46-109 @/atom:OPLSAA/*_b46_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
    @/bond:OPLSAA/47-47 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b47_a*_d*_i*
    @/bond:OPLSAA/47-48 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/47-50 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/47-57 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b57_a*_d*_i*
    @/bond:OPLSAA/47-58 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b58_a*_d*_i*
    @/bond:OPLSAA/47-65 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/47-66 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b66_a*_d*_i*
    @/bond:OPLSAA/47-86 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/47-91 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/47-105 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/47-110 @/atom:OPLSAA/*_b47_a*_d*_i* @/atom:OPLSAA/*_b110_a*_d*_i*
    @/bond:OPLSAA/48-48 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b48_a*_d*_i*
    @/bond:OPLSAA/48-49 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b49_a*_d*_i*
    @/bond:OPLSAA/48-50 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/48-53 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b53_a*_d*_i*
    @/bond:OPLSAA/48-55 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/48-56 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/48-57 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b57_a*_d*_i*
    @/bond:OPLSAA/48-60 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/48-61 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/48-64 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/48-65 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b65_a*_d*_i*
    @/bond:OPLSAA/48-66 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b66_a*_d*_i*
    @/bond:OPLSAA/48-79 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b79_a*_d*_i*
    @/bond:OPLSAA/48-81 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b81_a*_d*_i*
    @/bond:OPLSAA/48-84 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/48-86 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/48-88 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/48-91 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/48-101 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b101_a*_d*_i*
    @/bond:OPLSAA/48-102 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b102_a*_d*_i*
    @/bond:OPLSAA/48-109 @/atom:OPLSAA/*_b48_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
    @/bond:OPLSAA/49-59 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b59_a*_d*_i*
    @/bond:OPLSAA/49-62 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b62_a*_d*_i*
    @/bond:OPLSAA/49-82 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/49-83 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/49-84 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/49-85 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b85_a*_d*_i*
    @/bond:OPLSAA/49-87 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/49-88 @/atom:OPLSAA/*_b49_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/50-50 @/atom:OPLSAA/*_b50_a*_d*_i* @/atom:OPLSAA/*_b50_a*_d*_i*
    @/bond:OPLSAA/50-56 @/atom:OPLSAA/*_b50_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/50-84 @/atom:OPLSAA/*_b50_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/50-109 @/atom:OPLSAA/*_b50_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
    @/bond:OPLSAA/51-105 @/atom:OPLSAA/*_b51_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/52-64 @/atom:OPLSAA/*_b52_a*_d*_i* @/atom:OPLSAA/*_b64_a*_d*_i*
    @/bond:OPLSAA/53-54 @/atom:OPLSAA/*_b53_a*_d*_i* @/atom:OPLSAA/*_b54_a*_d*_i*
    @/bond:OPLSAA/54-55 @/atom:OPLSAA/*_b54_a*_d*_i* @/atom:OPLSAA/*_b55_a*_d*_i*
    @/bond:OPLSAA/55-59 @/atom:OPLSAA/*_b55_a*_d*_i* @/atom:OPLSAA/*_b59_a*_d*_i*
    @/bond:OPLSAA/55-82 @/atom:OPLSAA/*_b55_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/56-56 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b56_a*_d*_i*
    @/bond:OPLSAA/56-59 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b59_a*_d*_i*
    @/bond:OPLSAA/56-60 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/56-82 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/56-86 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/56-103 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b103_a*_d*_i*
    @/bond:OPLSAA/56-109 @/atom:OPLSAA/*_b56_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
    @/bond:OPLSAA/57-60 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/57-61 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/57-62 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b62_a*_d*_i*
    @/bond:OPLSAA/57-81 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b81_a*_d*_i*
    @/bond:OPLSAA/57-82 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/57-84 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/57-85 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b85_a*_d*_i*
    @/bond:OPLSAA/57-86 @/atom:OPLSAA/*_b57_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/58-83 @/atom:OPLSAA/*_b58_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/58-84 @/atom:OPLSAA/*_b58_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/59-63 @/atom:OPLSAA/*_b59_a*_d*_i* @/atom:OPLSAA/*_b63_a*_d*_i*
    @/bond:OPLSAA/60-60 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b60_a*_d*_i*
    @/bond:OPLSAA/60-61 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/60-80 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b80_a*_d*_i*
    @/bond:OPLSAA/60-81 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b81_a*_d*_i*
    @/bond:OPLSAA/60-87 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/60-105 @/atom:OPLSAA/*_b60_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/61-61 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b61_a*_d*_i*
    @/bond:OPLSAA/61-62 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b62_a*_d*_i*
    @/bond:OPLSAA/61-82 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/61-83 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/61-84 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/61-88 @/atom:OPLSAA/*_b61_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/62-63 @/atom:OPLSAA/*_b62_a*_d*_i* @/atom:OPLSAA/*_b63_a*_d*_i*
    @/bond:OPLSAA/62-105 @/atom:OPLSAA/*_b62_a*_d*_i* @/atom:OPLSAA/*_b105_a*_d*_i*
    @/bond:OPLSAA/63-82 @/atom:OPLSAA/*_b63_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/64-108 @/atom:OPLSAA/*_b64_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/65-82 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/65-83 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/65-84 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/65-87 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/65-88 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/65-108 @/atom:OPLSAA/*_b65_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/66-82 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b82_a*_d*_i*
    @/bond:OPLSAA/66-83 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b83_a*_d*_i*
    @/bond:OPLSAA/66-84 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/66-87 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/66-88 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/66-108 @/atom:OPLSAA/*_b66_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/77-78 @/atom:OPLSAA/*_b77_a*_d*_i* @/atom:OPLSAA/*_b78_a*_d*_i*
    @/bond:OPLSAA/80-84 @/atom:OPLSAA/*_b80_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/82-86 @/atom:OPLSAA/*_b82_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/82-87 @/atom:OPLSAA/*_b82_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/83-84 @/atom:OPLSAA/*_b83_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/83-86 @/atom:OPLSAA/*_b83_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/84-84 @/atom:OPLSAA/*_b84_a*_d*_i* @/atom:OPLSAA/*_b84_a*_d*_i*
    @/bond:OPLSAA/84-86 @/atom:OPLSAA/*_b84_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/84-87 @/atom:OPLSAA/*_b84_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/84-88 @/atom:OPLSAA/*_b84_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/85-85 @/atom:OPLSAA/*_b85_a*_d*_i* @/atom:OPLSAA/*_b85_a*_d*_i*
    @/bond:OPLSAA/86-86 @/atom:OPLSAA/*_b86_a*_d*_i* @/atom:OPLSAA/*_b86_a*_d*_i*
    @/bond:OPLSAA/86-87 @/atom:OPLSAA/*_b86_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/86-88 @/atom:OPLSAA/*_b86_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/87-87 @/atom:OPLSAA/*_b87_a*_d*_i* @/atom:OPLSAA/*_b87_a*_d*_i*
    @/bond:OPLSAA/87-88 @/atom:OPLSAA/*_b87_a*_d*_i* @/atom:OPLSAA/*_b88_a*_d*_i*
    @/bond:OPLSAA/89-90 @/atom:OPLSAA/*_b89_a*_d*_i* @/atom:OPLSAA/*_b90_a*_d*_i*
    @/bond:OPLSAA/89-91 @/atom:OPLSAA/*_b89_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/90-91 @/atom:OPLSAA/*_b90_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/91-91 @/atom:OPLSAA/*_b91_a*_d*_i* @/atom:OPLSAA/*_b91_a*_d*_i*
    @/bond:OPLSAA/102-103 @/atom:OPLSAA/*_b102_a*_d*_i* @/atom:OPLSAA/*_b103_a*_d*_i*
    @/bond:OPLSAA/108-108 @/atom:OPLSAA/*_b108_a*_d*_i* @/atom:OPLSAA/*_b108_a*_d*_i*
    @/bond:OPLSAA/109-109 @/atom:OPLSAA/*_b109_a*_d*_i* @/atom:OPLSAA/*_b109_a*_d*_i*
