    @/improper:OPLSAA/X-X-3-4 @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i3 @/atom:OPLSAA/*_b*_a*_d*_i4
    @/improper:OPLSAA/X-X-3-52 @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i3 @/atom:OPLSAA/*_b*_a*_d*_i52
    @/improper:OPLSAA/X-X-24-X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i24 @/atom:OPLSAA/*
    @/improper:OPLSAA/X-X-47-X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i47 @/atom:OPLSAA/*
    @/improper:OPLSAA/X-X-48-X @/atom:OPLSAA/* @/atom:OPLSAA/* @/atom:OPLSAA/*_b*_a*_d*_i48 @/atom:OPLSAA/*
